// mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

body {
  font-size: 16px;
  line-height: 4px;
}
.order_general_info, .order_address_info {
  h3 {
    height: 20px;
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 4px;
  }
  .info {
    background: #fff;
    margin-bottom: 10px;
    @include border-radius(5px);
    border: 1px solid #ccc;
  }

  p {
    border-bottom: 1px solid #ccc;
    height: 40px;
    line-height: 41px;
    padding-left: 6px;
  }
}

.order_general_info {
  h3 {
    color: #FFAC4D;
  }

  p.header {
    font-size: 1.1em;
    a {
      float: right;
      margin-right: 12px;
    }
  }
  .list {
    &.hidden {
      display: none;
    }
  }
}

.order_address_info {
  h3 {
    color: #3EA156;
  }
  p {
    label {
      width: 28%;
      display: inline-block;
    } 
    input[type=text] {
      height: 24px;
      @include border_radius(3px);
      width: 200px;
      font-size: 14px;
      width: 67%;
    }
  }
  p.submit {
    height: 50px;
    padding-top: 6px;
  }
}

input[type='submit'] {
  width: 100px;
  height: 35px;
  background: #3EA156;
  color: #fff;
  font-size: 17px;
  line-height: 20px;
  @include border_radius(5px);
}
