!!!
%html
  %head
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0")
    %meta(http-equiv="content-type" content="text/html; charset=utf-8")
    %title 邻家田后台
    %link(rel="stylesheet" href="/stylesheets/bootstrap.css")
    %link(rel="stylesheet" href="/stylesheets/bootstrap-responsive.css")
    %script(src="http://code.jquery.com/jquery-1.9.1.min.js")
  %body
    = yield
