h2 {
  color: #3EA156;
  text-align: center;
}

ul {
  margin-top: 10px;
  li {
    span {
      color: #aaa;
      font-size: 1em;
    }
    p {
      line-height: 30px;
      font-size: 1.3em;
    }
  }
}

.tip {
  background: rgb(255, 237, 221);
  font-size: 1.1em;
  width: 81%;
  margin-left: 44px;
  padding-left: 8px;
}

a.btn {
  background: #92A5C1;
  width: 99%;
  height: 30px;
  line-height: 30px;
}
